#!/bin/bash

{{- define "repos" }}
{{- $repoList := dig "pkgs" "repos" list . -}}

{{- end }}

{{- define "packages" }}
{{- $pkgList := dig "pkgs" "packages" list . -}}
{{- $patternList := dig "pkgs" "patterns" list . -}}

# [Packages]
{{- range $pkgList }}
{{ $.cmds.pkg }} {{ . | quote }}
{{- else }}
# - No packages
{{- end }}

# [Patterns]
{{- range $patternList }}
{{ $.cmds.pattern }} {{ . | quote }}
{{- else }}
# - No patterns
{{ end }}  

{{- end -}}

{{- if .installPackages }}
{{- with (index .install .chezmoi.osRelease.id ) }}

# [Repositories]
{{- $repoList := default .repos list }}
{{- if ($.chezmoi.kernel.osrelease | lower | contains "wsl") -}}
  {{$repoList = concat $repoList (dig "wsl" "repos" list .)}}
{{- end -}}
{{ $repoCmd := .commands.repo }}
{{- range $repoList }}
{{ $repoCmd }} {{ . | quote }}
{{- else }}
# - No repositories
{{- end }}
{{ .commands.repoRefresh }}

# -- Common --
{{ template "packages" (dict "cmds" .commands "pkgs" (dig $.chezmoi.os list $.install )) }}
# -- Distro --
{{ template "packages" (dict "cmds" .commands "pkgs" (dig $.chezmoi.osRelease.id list $.install )) }}
# -- WSL --
{{if ($.chezmoi.kernel.osrelease | lower | contains "wsl") -}}
  {{ template "packages" (dict "cmds" .commands "pkgs" (dig $.chezmoi.osRelease.id "wsl" list $.install )) }}
{{- end -}}

{{ end }}
{{- end }}
